/*
 * Empty Stylesheet file.
 */

.billing_btn, .customer_btn, .product_btn, .dashboard_btn, .about_us_btn{
    -fx-background-color: transparent;
    -fx-font-family: Sans Serif;
    -fx-font-size: 15;
    -fx-alignment: baseline-left;
    -fx-content-display: left;
    -fx-text-fill: white;
}
.dashboard_btn:active , .customer_btn:active, .product_btn:active, .billing_btn:active, .about_us_btn:active{
     -fx-background-color: white;
    -fx-background-radius: 100 0 0 100;
    -fx-text-fill:black;
}


.dashboard_btn:active #icon1, .customer_btn:active #icon2, .product_btn:active #icon3, .billing_btn:active #icon4, .about_us_btn:active #icon5{
     -fx-effect: innershadow(gaussian, rgba(0,0,0,1), 10, 1, 1, 1); 
}

.mainFxmlClass {
    -fx-background-color: white;
}


