/*
 * Empty Stylesheet file.
 */

.billing_btn, .customer_btn, .product_btn, .dashboard_btn{
    -fx-background-color: forestgreen;
}
.dashboard_btn:active , .customer_btn:active, .product_btn:active, .billing_btn:active{
     -fx-background-color: white;
    -fx-background-radius: 100 0 0 100;
}


.mainFxmlClass {
    -fx-background-color: white;
}